In [ ]:
#Q1. print even no from both the lists and add them into new list

In [1]:
l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]

In [20]:
#print odd numbers
even1 = l1[1::2]
odd

[6, 12, 18]

In [21]:
#Q2. print even numbers
even = l2[::2]

In [22]:
res = []
res.extend(even1)
res.extend(even)
print(res)

[6, 12, 18, 4, 12, 20, 28]

In [23]:
#Q3. add and remove items

In [27]:
list1 = [5,15,25,35,45,55,65,75]

In [29]:
list1.pop(4)

45

In [30]:
list1

[5, 15, 25, 35, 55, 65, 75]

In [31]:
list1.insert(2,85)

In [32]:
list1

[5, 15, 85, 25, 35, 55, 65, 75]

In [37]:
list1.append(95)

In [38]:
list1

[5, 15, 85, 25, 35, 55, 65, 95, 75, 95]

In [ ]:
#Q4. split list into 3 sections and reverse them

In [39]:
sample_list = [11, 45, 8, 23, 14, 12, 78, 45, 89]

In [50]:
a = sample_list[:3]
a[-1:-4:-1]

[8, 45, 11]

In [52]:
b = sample_list[3:6]
b[-1:-4:-1]

[12, 14, 23]

In [53]:
c = sample_list[6:]
c[-1:-4:-1]

[89, 45, 78]

In [ ]:
#Q5. count the occrence of item

In [54]:
sample_list = [11, 45, 8, 11, 23, 45, 23, 45, 89]

In [56]:
dict = {}
for i in sample_list:
    if i in dict:
        dict[i] += 1
    else:
        dict[i] = 1

In [57]:
dict

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [66]:
#Q6. Find the intersection (common) of two sets and remove those elements from the first set

In [58]:
first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]

In [64]:
result = zip(first_list,second_list)
final_result = set(result)

In [65]:
final_result

{(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)}

In [ ]:
#Q7. Checks if one set is a subset or superset of another set. If found, delete all elements from that set

In [67]:
first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

In [69]:
i = first_set.intersection(second_set)

In [70]:
print("intersection is ",i)

intersection is  {57, 83, 29}

In [79]:
update = first_set.symmetric_difference(i)

In [80]:
update

{23, 42, 65, 78}

In [81]:
print("First set after removing common sets",update)

First set after removing common sets {65, 42, 78, 23}

In [82]:
first_set = {27, 43, 34}
second_set = {34, 93, 22, 27, 43, 53, 48}

In [84]:
print(first_set.issubset(second_set))
print(first_set.issuperset(second_set))

True
False

In [85]:
print(second_set.issubset(first_set))
print(second_set.issuperset(first_set))

False
True

In [88]:
if first_set.issubset(second_set):
    first_set.clear()

if second_set.issubset(first_set):
    second_set.clear()

In [89]:
print(first_set)
print(second_set)

set()
{34, 43, 48, 53, 22, 27, 93}

In [ ]:
#Q8. Iterate a given list and check if a given element exists as a key’s value in a dictionary. If not, delete it from the list

In [90]:
roll_number = [47, 64, 69, 37, 76, 83, 95, 97]
sample_dict = {'Jhon':47, 'Emma':69, 'Kelly':76, 'Jason':97}

In [114]:

for i in roll_number:
    if i in sample_dict.values():
        pass
print("after removing unwanted elements from list:",roll_number)

after removing unwanted elements from list: [47, 69, 76, 97]

In [ ]:
#Q9. Get all values from the dictionary and add them to a list but don’t add duplicates

In [120]:
speed = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53, 'july': 54, 'Aug': 44, 'Sept': 54}

In [122]:
l = []
for i in speed.values():
    if i not in l:
        l.append(i)
print(l)

[47, 52, 44, 53, 54]

In [ ]:
#Q10. Remove duplicates from a list and create a tuple and find the minimum and maximum number

In [1]:
sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

In [2]:
unique_no = set(sample_list)
print(unique_no)

{65, 99, 41, 45, 87, 94}

In [5]:
t = tuple(unique_no)
print(t)

(65, 99, 41, 45, 87, 94)

In [6]:
print(max(sample_list))
print(min(sample_list))

99
41