In [ ]:
# i = represent row and j represent coloumn.

In [13]:
for i in range(7):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\n")

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

In [12]:
for i in range(7):
    for j in range(0,i+1):
        print("*",end=" ")
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [19]:
for i in range(7):
    for j in range(0,i+1):
        print("*",end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [17]:
for i in range(7):
    for j in range(7-i):
        print("*",end=" ")
    print("")

* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [22]:
for i in range(2):
    for j in range(1,i+2):
        print("*",end="  ")
    print("\n")

*

*  *

In [25]:
n = 5
for i in range(n):
    print(" "*(n-i)+"# "*i)

    #
   # #
  # # #
 # # # #

In [28]:
n = 5
for i in range(n):
    print(" "*(n-i)+"#"*i)

    #
   ##
  ###
 ####

In [36]:
n = 5
for i in range(n):
    print("#"*i)

#
##
###
####

In [50]:
n = 5
for i in range(n):
    print(" "*(i)+"#"*(n-i))

#####
 ####
  ###
   ##
    #

In [52]:
n = 15
for i in range(n):
    print(" "*(n-i)+"# "*i)
for i in range(n):
    print(" "*i + "# "* (n-i))

              #
             # #
            # # #
           # # # #
          # # # # #
         # # # # # #
        # # # # # # #
       # # # # # # # #
      # # # # # # # # #
     # # # # # # # # # #
    # # # # # # # # # # #
   # # # # # # # # # # # #
  # # # # # # # # # # # # #
 # # # # # # # # # # # # # #
# # # # # # # # # # # # # # #
 # # # # # # # # # # # # # #
  # # # # # # # # # # # # #
   # # # # # # # # # # # #
    # # # # # # # # # # #
     # # # # # # # # # #
      # # # # # # # # #
       # # # # # # # #
        # # # # # # #
         # # # # # #
          # # # # #
           # # # #
            # # #
             # #
              #

In [53]:
n = 10
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print("")

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [57]:
for i in range(6):
    for j in range(1,i+1):
        print(i,end=" ")
    print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [58]:
for i in range(6):
    for j in range(1,i+1):
        print(j,end=" ")
    print(" ")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [73]:
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(i,end=" ")
    print("")

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [74]:
for i in range(5):
    for j in range(5-i):
        print("5",end=" ")
    print("")

5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [83]:
for i in range(7,0,-1):
    for j in range(i+1):
        print(j,end=" ")
    print("")

0 1 2 3 4 5 6 7
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [103]:
for i in range(0,6):
    for j in range(1,i+1):
        print(i*2-1,end=" ")
    print("")

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [109]:
for i in range(1,6):
    for j in range(i,0,-1):
        print(j,end=" ")
    print("")

1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [112]:
for i in range(1,6):
    for j in range(6-i,0,-1):
        print(j,end=" ")
    print("")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [115]:
# need to look into this

start = 1
stop = 2
current_num = stop
for row in range(2, 6):
    for col in range(start, stop):
        current_num -= 1
        print(current_num, end=' ')
    print("")
    start = stop
    stop += row
    current_num = stop

1
3 2
6 5 4
10 9 8 7

In [120]:
# need to look into this

rows = 6
for i in range(1, rows):
    num = 1
    for j in range(rows, 0, -1):
        if j > i:
            print(" ", end=' ')
        else:
            print(num, end=' ')
            num += 1
    print("")

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5

In [132]:
n = 6
for i in range(1,n):
    for j in range(n,0,-1):
        if j > i:
            print(" ", end=" ")
        else:
            print(j ,end=" ")
    print("")

          1
        2 1
      3 2 1
    4 3 2 1
  5 4 3 2 1

In [1]:
# need to look into this

def print_pascal_triangle(size):
    for i in range(0, size):
        for j in range(0, i + 1):
            print(decide_number(i, j), end=" ")
        print()


def decide_number(n, k):
    num = 1
    if k > n - k:
        k = n - k
    for i in range(0, k):
        num = num * (n - i)
        num = num // (i + 1)
    return num

# set rows
rows = 7
print_pascal_triangle(rows)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1
1 5 10 10 5 1
1 6 15 20 15 6 1

In [5]:
def pascal(size):
    for i in range(0,size):
        for j in range(0,i+1):
            print((i,j),end=" ")
        print()

In [6]:
pascal(7)

(0, 0)
(1, 0) (1, 1)
(2, 0) (2, 1) (2, 2)
(3, 0) (3, 1) (3, 2) (3, 3)
(4, 0) (4, 1) (4, 2) (4, 3) (4, 4)
(5, 0) (5, 1) (5, 2) (5, 3) (5, 4) (5, 5)
(6, 0) (6, 1) (6, 2) (6, 3) (6, 4) (6, 5) (6, 6)

In [26]:
for i in range(1,6):
    for j in range(1,6):
        if j <= i:
            print(i,end=" ")
        else:
            print(j,end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [2]:
for i in range(1,9):
    for j in range(1,i+1):
        print(i*j,end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [18]:

for j in range(1,6):
    print("* " * j)

*
* *
* * *
* * * *
* * * * *

In [15]:
rows = 5
for j in range(rows+1,0,-1):
    print("* " * j)

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [33]:
n = 6
for i in range(n):
    print(" " * i + "* " * (n-i))

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [34]:
n = 6
for i in range(n):
    print(" " * i + "*" * (n-i))

******
 *****
  ****
   ***
    **
     *

In [36]:
n = 6
for i in range(n+1):
    print(" " * (n-i) + "* " * i)

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *

In [39]:
for i in range(6):
    for j in range(i+1):
        print("*",end=" ")
    print()
    
print(" ")

for i in range(6):
    for j in range(6-i,0,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [41]:
for i in range(6):
    for j in range(i+1):
        print("*",end=" ")
    print()
for i in range(5):
    for j in range(5-i,0,-1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [47]:
for i in range(6):
    print(" "*(6-i)+"*"*i)
for i in range(6):
    print(" "*i+"*"*(n-i))

     *
    **
   ***
  ****
 *****
******
 *****
  ****
   ***
    **
     *

In [58]:
n=6
for i in range(n):
    print(" "*i+"* "*(n-i))
for i in range(n):
    print(" "*i+"* "*(n-i))

* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [3]:
n=5
for i in range(n):
    print(" "*i+"* "*(n-i))
for i in range(n+1):
    print(" "*(n-i)+"* "*i)

* * * * *
 * * * *
  * * *
   * *
    *

    *
   * *
  * * *
 * * * *
* * * * *

In [65]:
# need to look into this

rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [69]:
rows = 9
for i in range(1,rows):
    for j in range(1,rows):
        print("*",end=" ")
    print()

* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *
* * * * * * * *

In [1]:
rows = 14
print("*" * rows, end="\n")
i = (rows // 2) - 1
j = 2
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i = i - 1
        j = j + 2

**************
******__******
*****____*****
****______****
***________***
**__________**
*____________*

In [1]:
rows = 14
print("*" * rows, end="\n")

**************

In [2]:
i = (rows // 2) - 1
j = 2
print(i)
print(j)

6
2

In [5]:
while i != 0:
    while j <= (rows - 2):
        print("*" * i, end="")
        print("_" * j, end="")
        print("*" * i, end="\n")
        i-=1
        j+=2

In [10]:
for i in range(6):
    print(" "*(6-i)+"* "*i)
for i in range(6):
    print(" "*i+"* "*(6-i))

     *
    * *
   * * *
  * * * *
 * * * * *
* * * * * *
 * * * * *
  * * * *
   * * *
    * *
     *

In [3]:
rows = 5
i = 1
while i <= rows:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k < 2 * (i - 1):
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i += 1

i = rows - 1
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k <= 2 * (i - 1):
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i -= 1

        *
      *   *
    *       *
  *           *
*               *
  *             *
    *         *
      *     *
        *

# Alphabet Pattern

In [5]:
# ASCII number of 'A'
ascii_no = 65
for i in range(7):
    for j in range(i+1):
        character = chr(ascii_no)
        print(character,end=" ")
        ascii_no+=1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [7]:
word = "Python"
c = ""
for i in word:
    c += i
    print(c)

P
Py
Pyt
Pyth
Pytho
Python

In [13]:
# need to look into this
print("Print equilateral triangle Pyramid with characters ")
size = 7
asciiNumber = 65
m = (2 * size) - 2
for i in range(0, size):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        character = chr(asciiNumber)
        print(character, end=' ')
        asciiNumber += 1
    print(" ")

Print equilateral triangle Pyramid with characters
            A
           B C
          D E F
         G H I J
        K L M N O
       P Q R S T U
      V W X Y Z [ \

In [14]:
# why we are changing char to ascii than to char again

# Same character pattern
character = 'V'
# convert char to ASCII
char_ascii_no = ord(character)
for i in range(5):
    for j in range(i+1):
        # Convert the ASCII value to the character
        user_char = chr(char_ascii_no)
        print(user_char,end=' ')
    print()

V
V V
V V V
V V V V
V V V V V

In [19]:
for i in range(10+1):
    for j in range(1,i+1):
        print(i*j, end=" ")
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [25]:
for i in range(9):
    for j in range(-1+i,-1,-1):
        print(2 ** j,end="   ")
    print()

1
2   1
4   2   1
8   4   2   1
16   8   4   2   1
32   16   8   4   2   1
64   32   16   8   4   2   1
128   64   32   16   8   4   2   1

In [34]:
for i in range(8):
    for i in range(i+1):
        print(2 ** i,end="  ")
    for i in range(-1+i, -1, -1):
        print(2 ** i, end="  ")
    print()

1
1  2  1
1  2  4  2  1
1  2  4  8  4  2  1
1  2  4  8  16  8  4  2  1
1  2  4  8  16  32  16  8  4  2  1
1  2  4  8  16  32  64  32  16  8  4  2  1
1  2  4  8  16  32  64  128  64  32  16  8  4  2  1

In [36]:
curr = 1
stop = 2

for i in range(3):
    for j in range(1,stop):
        print(curr,end=" ")
        curr += 1
    print()
    stop += 2

1
2 3 4
5 6 7 8 9

In [37]:
curr = 1
stop = 2
for i in range(4):
    for j in range(1,stop):
        print(curr,end=" ")
        curr += 1
    print()
    stop += 1

1
2 3
4 5 6
7 8 9 10

In [39]:
# Alternative solution
curr = 1
for i in range(4+1):
    for j in range(1,i+1):
        print(curr,end=" ")
        curr += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [40]:
# need to look into this
rows = 5
last_num = 2 * rows
even_num = last_num
for i in range(1, rows + 1):
    even_num = last_num
    for j in range(i):
        print(even_num, end=' ')
        even_num -= 2
    print("\r")

10
10 8
10 8 6
10 8 6 4
10 8 6 4 2

In [45]:
for i in range(6):
    for j in range(1, i-1):
        print( j,end="   ")
    for j in range(i-1,0,-1):
        print(j,end=" ")
    print()

1
1   2 1
1   2   3 2 1
1   2   3   4 3 2 1

In [46]:
for i in range(1,6):
    for j in range(1, i-1):
        print( j,end=" ")
    for j in range(i-1,0,-1):
        print(j,end=" ")
    print()

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1

In [56]:
for i in range(8):
    for j in range(i+1):
        print(i * j,end=" ")
    print()

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36
0 7 14 21 28 35 42 49

In [54]:
for i in range(6):
    for j in range(i+1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [57]:
rows = 6
for i in range(0, rows):
    for j in range(rows - 1, i, -1):
        print(j, '', end='')
    for l in range(i):
        print('    ', end='')
    for k in range(i + 1, rows):
        print(k, '', end='')
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2     2 3 4 5

5 4 3         3 4 5

5 4             4 5

5                 5

In [77]:
for i in range(6):
    for j in range(5,i,-1):
        print(j, '',end="")   # end block m space nhi dena hai
    for k in range(i):
        print('    ',end="")
    for l in range(i + 1, 6):
        print(l,'',end="")
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2     2 3 4 5

5 4 3         3 4 5

5 4             4 5

5                 5

In [73]:
rows = 6
for i in range(0, rows):
    for j in range(rows - 1, i, -1):
        print(j, '', end='')
    for l in range(i):
        print('    ', end='')
    for k in range(i + 1, rows):
        print(k, '', end='')
    print('\n')

5 4 3 2 1 1 2 3 4 5

5 4 3 2     2 3 4 5

5 4 3         3 4 5

5 4             4 5

5                 5

In [83]:
for i in range(4):
    a = 1
    print(a,end=' ')
    for j in range(4-i-1,0,-1):
        print("*",end=" ")
        a = a+1
        print(a,end=" ")
    print()

1 * 2 * 3 * 4
1 * 2 * 3
1 * 2
1

In [86]:
# dekhna padega
count = 0
for i in range(4):
    for j in range(i+1):
        print(count,end= " ")
        count = 2 ** (i+1)
    print()

0
2 4
4 8 8
8 16 16 16

In [1]:
n = int(input('enter a no: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

enter a no: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [2]:
i = 1
# outer while loop
while i < 5:
    # nested for loop
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')
    i = i + 1

*
* *
* * *
* * * *