In [2]:
# 1.
def func1(name,age):
    return name,age

In [3]:
func1("priyanka",24)

('priyanka', 24)

In [4]:
# 2.

def func2(*args):
    return args

In [6]:
func2(20,30,40)

(20, 30, 40)

In [7]:
func2(10,20)

(10, 20)

In [10]:
# alternate way

def func3(*args):
    for i in args:
        print(i)

In [11]:
func3(20,30,40)

20
30
40

In [1]:
# 3.

def calculation(a,b):
    return a+b , a-b

In [3]:
res = calculation(40,10)
res

(50, 30)

In [14]:
# 4.
def showemployee(name,salary = 9000):
    print("Name:",name , "Salary:",salary)

In [16]:
showemployee('Ban',12000)
showemployee('Jessa')

Name: Ban Salary: 12000
Name: Jessa Salary: 9000

In [21]:
# 5.

def outer(a,b):
    def inner(a,b):
        return a+b
    c = a+b
    return c+5

In [22]:

outer(1,2)

8

In [23]:
# 6.

def addition(num):
    if num:
        return num+addition(num-1)
    else:
        return 0

In [24]:
addition(10)

55

In [30]:
# 7.

def display_student(name,age):
    print(name,age)
    
display_student("pink",5)
show_student = display_student

pink 5

In [31]:
show_student("pinka",15)

pinka 15

In [32]:
def display_student(name,age):
    print(name,age)
show_student = display_student

In [33]:
show_student("pinka",15)

pinka 15

In [36]:
# 8.

def even_no(a,b):
    print(list(range(a,b,2)))

In [38]:
even_no(4,30)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [40]:
# 9.

x = [4, 6, 8, 24, 12, 2]
max(x)

24

In [45]:
x = [4, 6, 24, 12, 2]
z_max = 0
for num in x:
    if num > z_max:
        z_max = num
print(z_max)

24