In [1]:
cities = ["Delhi","Gurgaon","jaipur","banglore","pune","mumbai"]
next(cities)

TypeError: 'list' object is not an iterator

In [9]:
cities = ["Delhi","Gurgaon","jaipur","banglore","pune","mumbai"]
cities1 = iter(cities)
next(cities1)

'Delhi'

In [3]:
next(cities1)

'Gurgaon'

In [4]:
next(cities1)

'jaipur'

In [5]:
next(cities1)

'banglore'

In [6]:
next(cities1)

'pune'

In [7]:
next(cities1)

'mumbai'

In [10]:
next(cities1)

'Gurgaon'

In [12]:
f = open("priyanka.txt","w")

In [13]:
f.write("Hey there, my name is priyanka bisht i am from devbhoomi uttarakhand.")

69

In [14]:
pwd

'C:\\Users\\Dell\\Downloads\\Ineuron Python\\Python-Practice'

In [15]:
f.close()

In [17]:
f = open("priyanka.txt","a")

In [18]:
f.write("i did my schooling from my hometown and have done my graduation from DSB Campus Nainital.")

89

In [19]:
f.close()

In [23]:
f = open("priyanka.txt","r")

In [24]:
f.read()

'i did my schooling from my hometown and have done my graduation from DSB Campus Nainital.'

In [26]:
f.seek(0)

0

In [27]:
f.read()

'i did my schooling from my hometown and have done my graduation from DSB Campus Nainital.'

In [28]:
f.read()

''

In [29]:
f.seek(0)

0

In [30]:
f.read()

'i did my schooling from my hometown and have done my graduation from DSB Campus Nainital.'

In [31]:
f.tell()

89

In [32]:
f.read()

''

In [33]:
f.seek(0)

0

In [34]:
f.read()

'i did my schooling from my hometown and have done my graduation from DSB Campus Nainital.'

In [38]:
f = open("priyanka.txt","w+")

In [39]:
f.write("my guruji name is vivek balodi,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,v,")

289

In [40]:
f.readline()

''

In [41]:
f.seek(0)

0

In [42]:
f.readline()

'my guruji name is vivek balodi,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,my guruji name is vivek balodi.,v,'

In [46]:
f.close()

In [123]:
f = open("priyanka.txt","w+")

In [124]:
f.write("""I am a student of Full Stack Data Science,
Sudhanshu sir taught us Python Programming.,
Krish naik is going to teach us Statistics and ML.""")

138

In [125]:
f.readlines()

[]

In [127]:
f.seek(5)

5

In [128]:
f.readlines()

['a student of Full Stack Data Science,\n',
 'Sudhanshu sir taught us Python Programming.,\n',
 'Krish naik is going to teach us Statistics and ML.']

In [52]:
f.readable()

True

In [53]:
f.reconfigure()

In [54]:
f.close()

In [56]:
f = open("priyanka.txt","a")

In [58]:
f.write("hanji")

5

In [59]:
f.close()

In [60]:
f = open("priyanka.txt","a")

In [61]:
f.write("\n Just checking for append operation")

36

In [62]:
f.close()

# map,filter,reduce

In [1]:
def add(x,y):
    return x+y

In [3]:
add (8,5)

13

In [4]:
# using lambda

a = lambda x,y:x+y

In [5]:
a(4,5)

9

In [48]:
# map

In [46]:
l = [1,2,3,4,5,6,7,8,9]

In [83]:
doubled_num = [2*i for i in l]
 
print(doubled_num)

#output
#[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

[2, 4, 6, 8, 10, 12]

In [84]:
# for i in l:
#     m = 2*i
# print(l)

In [86]:
def doubled(x):
    return 2*x
 
doubled_num = map(doubled, l)
 
print(list(doubled_num))

[2, 4, 6, 8, 10, 12]

In [87]:
doubled_num = map(lambda x:x*2, l)

In [89]:
print(list(doubled_num))

[2, 4, 6, 8, 10, 12]

In [90]:
x = [1,2,3]
y = [4,5,6]
z = [7,8,9]
s = map(lambda x,y,z:x+y+z,x,y,z)

In [91]:
print(list(s))

[12, 15, 18]

In [100]:
# Filter

In [95]:
for i in l:
    if i % 2 != 0:
        print("Odd")
    else: 
        print("even")

Odd
even
Odd
even
Odd
even

In [93]:
l

[1, 2, 3, 4, 5, 6]

In [104]:
odd_num = filter(lambda x: x % 2, l)
 
print(list(odd_num))

#output
#[1, 3, 5, 7, 9]

[1, 3, 5]

In [107]:
odd_num = [n for n in l if n % 2]
 
print(odd_num)

#output
#[1, 3, 5, 7, 9]

[1, 3, 5]

In [106]:
odd_num = [n for n in l if n % 2 == 0]
 
print(odd_num)

#output
#[1, 3, 5, 7, 9]

[2, 4, 6]

In [109]:
for i in l:
    print(i in l)

True
True
True
True
True
True

In [110]:
bool = [i in l for i in l]
print(list(bool))

[True, True, True, True, True, True]

In [115]:
g = filter(lambda i : i in l,l)
print(list(g))

[1, 2, 3, 4, 5, 6]

In [116]:
# Reduce

In [118]:
from functools import reduce

In [120]:
num = [45,85,23,25,15]
def custom_sum(first,second):
    return first + second
        
result = reduce(custom_sum,num)
print(result)

193

In [122]:
result1 = reduce(custom_sum,num,10)
print(result1)

203