In [2]:
# Exercise 1: Convert the following dictionary into JSON format

In [4]:
import json
data = {"key1" : "value1", "key2" : "value2"}
jsondata = json.dumps(data)
print(jsondata)

{"key1": "value1", "key2": "value2"}

In [5]:
# Exercise 2: Access the value of key2 from the following JSON

In [9]:
import json
sampleJson = """{"key1": "value1", "key2": "value2"}"""
value = json.loads(sampleJson)
print(value['key2'])

value2

In [11]:
# Exercise 3: PrettyPrint following JSON data
sampleJson = {"key1": "value1", "key2": "value2","key3" : "value3"}
prettyprint = json.dumps(sampleJson,indent=2,separators=(",", " = "))
print(prettyprint)

{
  "key1" = "value1",
  "key2" = "value2",
  "key3" = "value3"
}

In [14]:
# Exercise 4: Sort JSON keys in and write them into a file
sampleJson = {"id" : 1, "name" : "value2", "age" : 29}
with open("sampleJson.json", "w") as write_file:
    json.dump(sampleJson, write_file, indent=4, sort_keys=True)
    
# Need to look into this

In [15]:
print(sampleJson)

{'id': 1, 'name': 'value2', 'age': 29}

In [8]:
# Exercise 5: Access the nested key ‘salary’ from the following JSON

In [9]:
import json

sampleJson = """{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000,
            "bonus":800
         }
      }
   }
}"""

In [10]:
key = json.loads(sampleJson)
print(key['company']['employee']['payble']['salary'])

7000

In [11]:
# Exercise 6: Convert the following Vehicle Object into JSON

In [12]:
import json

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price

vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)

In [14]:
import json
from json import JSONEncoder

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price

class VehicleEncoder(JSONEncoder):
        def default(self, o):
            return o.__dict__

vehicle = Vehicle("Toyota Rav4", "2.5L", 32000)

print("Encode Vehicle Object into JSON")
vehicleJson = json.dumps(vehicle, indent=4, cls=VehicleEncoder)
print(vehicleJson)

Encode Vehicle Object into JSON
{
    "name": "Toyota Rav4",
    "engine": "2.5L",
    "price": 32000
}

In [15]:
# Exercise 7: Convert the following JSON into Vehicle Object

In [16]:
import json

class Vehicle:
    def __init__(self, name, engine, price):
        self.name = name
        self.engine = engine
        self.price = price

def vehicleDecoder(obj):
        return Vehicle(obj['name'], obj['engine'], obj['price'])

vehicleObj = json.loads('{ "name": "Toyota Rav4", "engine": "2.5L", "price": 32000 }',
           object_hook=vehicleDecoder)

print("Type of decoded object from JSON Data")
print(type(vehicleObj))
print("Vehicle Details")
print(vehicleObj.name, vehicleObj.engine, vehicleObj.price)

Type of decoded object from JSON Data
<class '__main__.Vehicle'>
Vehicle Details
Toyota Rav4 2.5L 32000

In [17]:
# Exercise 8: Check whether following json is valid or invalid. If Invalid correct it

In [23]:
{ 
   "company":{ 
      "employee":{ 
         "name":"emma",
         "payble":{ 
            "salary":7000,
            "bonus":800
         }
      }
   }
}


# Just add ',' after "salary":7000 to solve the error.

{'company': {'employee': {'name': 'emma',
   'payble': {'salary': 7000, 'bonus': 800}}}}

In [22]:
echo { "company":{ "employee":{ "name":"emma", "payble":{ "salary":7000 "bonus":800} } } } | python -m json.tool

Expecting ',' delimiter: line 1 column 68 (char 67)

# RANDOM DATA GENERATION

In [24]:
# Exercise 1: Generate 3 random integers between 100 and 999 which is divisible by 5

In [2]:
import random
for i in range(3):
    print(random.randrange(100,999,5),end=",")

400,290,620,

In [3]:
# Another way to perform the above exercise

count = 1
while count <= 3:
    print(random.randrange(100,999,5),end=" , ")
    count += 1

235 , 850 , 650 ,

In [4]:
# Exercise 2: Random Lottery Pick. Generate 100 random lottery tickets and pick two lucky tickets from it as a winner.

In [6]:
lotery_tickets = []
for i in range(100):
    lotery_tickets.append(random.randrange(1000000000,9999999999))
winners = random.sample(lotery_tickets,2)
print(winners)

[1685273631, 5258080554]

In [7]:
# Exercise 3: Generate 6 digit random secure OTP

In [8]:
import secrets
OTP_generator = secrets.SystemRandom()
OTP = random.randrange(100000,999999)
print(OTP)

514127

In [9]:
# Exercise 4: Pick a random character from a given String

In [12]:
string = "Pynative"
char = random.choice(string)
print("Selecting one random character: ",char)

Selecting one random character:  i

In [13]:
# Exercise 5: Generate random String of length 5

In [18]:
import string
def stringgenerate(stringlength):
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(stringlength))
print("Random string is: ",stringgenerate(5))

Random string is:  VBBWU

In [19]:
# Exercise 6: Generate a random Password which meets the following conditions

In [20]:
import random
import string

def randomPassword():
    randomSource = string.ascii_letters + string.digits + string.punctuation
    password = random.sample(randomSource, 6)
    password += random.sample(string.ascii_uppercase, 2)
    password += random.choice(string.digits)
    password += random.choice(string.punctuation)

    passwordList = list(password)
    random.SystemRandom().shuffle(passwordList)
    password = ''.join(passwordList)
    return password

print ("Password is ", randomPassword())

Password is  "GD9p(Y1L]

In [21]:
# Exercise 7: Calculate multiplication of two random float numbers

In [27]:
a = random.random()
b = random.uniform(9.5,99.5)
multi = a*b
print(multi)

45.163940172063604

In [28]:
# Exercise 8: Generate random secure token of 64 bytes and random URL

In [34]:
import secrets
print("Random secure token:",secrets.token_hex(64))
print("Random URL:",secrets.token_urlsafe(64))

Random secure token: d6a2ccab8c89e41040e53ea1639532dd4b54347499705078a7484bdd39da4408313b403332af519a2d3a1676f9783fe575bcdca6ce7793e62a9b08e5762fd422
Random URL: I3d-iQKIzkIvSD0FLQwefkOots4qihbE38BnqzamAWPxR5ScTv25mf5MLknBMc7qbhiT_Zz08EEookOvEbkmiw

In [35]:
# Exercise 9: Roll dice in such a way that every time you get the same number

In [42]:
import random
print("Randomly selecting same number of a dice")
dice = [1,2,3,4,5,6]
for i in range(5):
    random.seed(25)
    print(random.choice(dice))

Randomly selecting same number of a dice
4
4
4
4
4

In [43]:
# Exercise 10: Generate a random date between given start and end dates

In [45]:
import random
import time

def getRandomDate(startDate, endDate ):
    print("Printing random date between", startDate, " and ", endDate)
    randomGenerator = random.random()
    dateFormat = '%m/%d/%Y'

    startTime = time.mktime(time.strptime(startDate, dateFormat))
    endTime = time.mktime(time.strptime(endDate, dateFormat))

    randomTime = startTime + randomGenerator * (endTime - startTime)
    randomDate = time.strftime(dateFormat, time.localtime(randomTime))
    return randomDate

print ("Random Date = ", getRandomDate("1/1/2016", "12/12/2018"))

Printing random date between 1/1/2016  and  12/12/2018
Random Date =  06/26/2018